<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Contact </title>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<nav class="navbar navbar-default">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="/">HC+</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li class="active"><a href="/">Home</a></li>
      				<li><a href="/contact">Contact</a></li>
      				<li><a href="/aboutUs">About Us</a></li>
      				<li><a href="/info">Information</a></li>
    			</ul>
  			</div>
		</nav>
		
		<div class="jumbotron">
			<div class="container">
				<h1>Contact</h1>
  				<h2>HealthCare Plus Headquarters:</h2>
				<p>222 S Church St, Charlotte, NC 28202</p>
				<p>Hours: 8AM - 8PM Monday - Friday </p> 
				<p>Phone: (000) 000-0000 </p>
				<p>Email: info@healthcareplus.com</p>
  				<!--Button does not work May use later -->
  				<p><a class="btn btn-primary btn-lg" href="#" role="button">Contact Us</a></p>
			</div>
		</div>
		
	

	</body>

</html>